@model testRavenDB.Models.Employee
@{
    ViewBag.Title = "Employee Details";
}
<fieldset>
    <legend>Employee</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    First Name: @Model.FirstName
                </td>
            </tr>
            <tr>
                <td>
                    Last Name: @Model.LastName
                </td>
            </tr>
            <tr>
                <td>
                    Date of Join: @Model.DateJoined
                </td>
            </tr>
            <tr>
                <td>
                    Position: @Model.Position.Name
                </td>
            </tr>
            <tr>
                <td>
                    Department: @Model.Department.Name
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
